name: Build and test always, publish on tag

on:
  push:

jobs:
  build-and-test-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: "22"
      - run: npm ci
      - run: npm run build-and-test

  build-and-test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: "22"
      - run: npm ci
      - run: npm run build-and-test

  publish:
    runs-on: ubuntu-latest
    needs:
      - build-and-test-ubuntu
      - build-and-test-windows
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm publish --access public

  test-published:
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: "22"
      - run: npm install speccharts@latest
      - run: npx speccharts -i "src/**/*.spec.ts"
